<section class="column">
  <%= render 'search_form' %>

  <% if params[:search] %>
    <%= render 'movie_list' %>
  <% end %>
</section>


<section class="column">
<h2>all movies</h2>

<ul>
  <% @movies.each do |m| %>
    <li><%= link_to m.title, movie_path(m) %></li>
  <% end %>
</ul>
</section>
