<h1>Search For a movie</h1>

<%= render 'search_form' %>

<% if params[:search] %>
  <%= render 'movie_list' %>
<% end %>

<h1>All Movies</h1>

<ul>
  <% @movies.each do |m| %>
    <li><%= link_to m.title, movie_path(m) %></li>
  <% end %>
</ul>
