<h1>welcome <%= current_user.username %></h1>
<section class="column">
  <%= render 'search_form' %>

  <% if params[:search] %>
    <%= render 'movie_list' %>
  <% end %>
</section>


<section class="column">
<h2>recent reviews.</h2>
<ul>
  <% current_user.reviews.each do |r| %>
    <p><%= link_to r.movie.titleyear, review_path(r) %></p>
  <% end %>
</ul>
</section>
