<% if @user == current_user %>
<h2>people who follow you.</h2>
<% else %>
<h2>people following <%=@user.username%>.</h2>
<% end %>
<div class="follow-container">
  <% @followers.each do |user| %>
  <div class="user-card">
    <%= link_to user.username, user_path(user), class: "username" %><br>
    <% if user.tagline %>
    <p class="tagline"><%= user.tagline %></p>
    <% end %>
  </div>
  <% end %>
</div>
