<h2>recent reviews.</h2>

<div class="dash-review-container">
<% @user.reviews.last(5).each do |review| %>
  <div class="review">
    <div class="dash-image">
      <%= link_to image_tag(review.movie.poster), review_path(review) %>
    </div>
    <h2><%= link_to review.movie.titleyear, movie_path(review.movie) %></h2>
    <span><%= review.render_content %></span>
  </div>
<% end %>
<%= link_to user_reviews_path(@user), class: "button" do %>
  <span>more</span>
  <i class="fas fa-chevron-circle-right"></i>
<% end %>
</div>
