<div class="column">
  <h1>welcome to FILMr</h1>
  <div class="row">
    <%= button_to "log in", new_user_session_path, method: :get, class: "button" %>
    <%= button_to "sign up", new_user_registration_path, method: :get, class: "button" %>
  </div>
</div>
