// Colors
$background: #181921;
$accent: #D17E12;
$alert: #d1473d;
$notice: #4F8474;
$alt-accent: #4D7794;
$menu: #1e1f28;
$menu-item: #2D2F39;
$text: #eee;
$text-accent: #808080;
$hover: rgba(24,25,33, .9);
$dot-color: #2d2f39;

// Dimensions
$dot-size: 2px;
$dot-space: 22px;

//Fonts
$sans-serif: 'Source Sans Pro', sans-serif;
$monospace: 'IBM Plex Mono', monospace;

//Attributes
 $shadow: 0 0 15px rgba(0,0,0,.5);
