/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require jquery-ui
 *= require animate
 */

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Source+Sans+Pro:300,600&display=swap');

:root {
 --accent: #D17E12;
 --alert: #d1473d;
 --alt-accent: #4D7794;
 --notice: #69B09A;
 --menu: #1e1f28;
 --menu-item: #2D2F39;
 --text: #eee;
 --text-accent: #808080;
 --background: #181921;
 --hover: rgba(24,25,33, .9);
 --sans-serif: 'Source Sans Pro', sans-serif;
 --monospace: 'IBM Plex Mono', monospace;
 --shadow: 0 0 15px rgba(0,0,0,.5);
}


@keyframes click {
 0% {
   transform: scale(1)
 }

 50% {
   transform: scale(0.5)
 }

 100% {
   transform: scale(1)
 }
}

* {
 transition: .3s ease;
}

body {
 background: var(--background);
 color: var(--text);
 font-family: var(--monospace);
 font-size: 12px;
 line-height: 1.7;
 overflow: auto;
 margin: 0 auto;
}

.container-all {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 flex-wrap: nowrap;
 height: 100%;
 overflow: auto;
 &.open {
   filter: blur(1em);
   margin-right: 100px;
 }
}

h1,
h2,
h3 {
  letter-spacing: 2px;
  font-family: var(--sans-serif);
}

h1 {
 font-size: 2.3em;
 text-transform: uppercase;
 font-weight: 400;
}

h2 {
 font-size: 2em;
 text-transform: uppercase;
 font-weight: 400;
}

h3 {
 font-size: 1.2em;
 color: var(--text-accent);
 font-weight: 400;
}

hr {
  width: 30%;
  margin-top: 20px;
  border: 1px dashed var(--accent);
}

img {
 border-radius: 5px;
}

a {
 text-decoration: none;
 color: var(--text);
}

a:visited {
 color: var(--text);
}

a:hover {
 color: var(--accent)
}

.column {
 display: flex;
 flex-direction: column;
}

.row {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 align-items:center;
 justify-content: center;
}

a.delete-button:hover {
  background: var(--alert)
}
.delete-button:hover {
  background: var(--alert)
}

.success-button:hover {
  background: var(--notice);
}
