@import "variables";

.button {
  padding: 10px;
  background: $menu;
  color: $text;
  margin-right: 8px;
  border-radius: 5px;
  border: 0px solid transparent;
  text-transform: lowercase;
  &:hover {
    background: $accent;
    color: $text;
  }
  &:active {
    animation: click;
  }
}

input:focus,
textarea:focus,
button:focus {
  outline: 0px solid transparent;
  box-shadow: 0 0 0 1px $accent;
  color: $text
}

input[type='text'],
input[type='password'],
textarea {
  padding: 10px;
  margin: 10px 5px;
  background: $menu;
  font-family: $monospace;
  border: 0px solid transparent;
  border-radius: 5px;
  color: $text;
}

input[type='text'],
input[type='password'] {
  width: 200px;
}

textarea {
  width: 800px;
	height: calc(100vh - 500px);
  padding: 5px;
  resize: none;
  letter-spacing: 1px;
  line-height: 2;
}

input[type="radio"] {
  display: none;
}

.red{
  color: $alert;
}

.accent {
  color: $accent;
}

.letter {
  text-transform: lowercase;
  font-family: $sans-serif;
}

.flash-container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  position: absolute;
}

.flash {
  margin-top: 5px;
  padding: 8px;
  border-radius: 5px;
  box-shadow: $shadow;
  &.notice {
    background: $notice;
  }
  &.alert {
    background: $alert;
  }
}

.logo a {
  position: fixed;
  z-index: 3;
  top: 7px;
  left: 10px;
  padding: 5px 10px;
  font-size: 1.5em;
  background: $menu;
  border-radius: 8px;
  font-family: $sans-serif;
}
