.button {
  padding: 10px;
  background: var(--menu);
  color: var(--text);
  margin-right: 8px;
  border-radius: 5px;
  border: 0px solid transparent;
  text-transform: lowercase;
  &:hover {
    background: var(--accent);
    color: var(--text);
  }
  &:active {
    animation: click;
  }
}

input:focus,
textarea:focus,
button:focus {
  outline: 0px solid transparent;
  box-shadow: 0 0 0 1px var(--accent);
  color: var(--text)
}

input[type='text'],
input[type='password'],
textarea {
  padding: 10px;
  margin: 10px 5px;
  background: var(--menu);
  font-family: var(--monospace);
  border: 0px solid transparent;
  border-radius: 5px;
  color: var(--text);
}

input[type='text'],
input[type='password'] {
  width: 200px;
}

textarea {
  width: 45vw;
	height: calc(100vh - 350px);
  padding: 5px;
  resize: none;
  letter-spacing: 1px;
  line-height: 2;
}

input[type="radio"] {
  display: none;
}

.red{
  color: var(--alert)
}

.accent {
  color: var(--accent)
}

.letter {
  text-transform: lowercase;
  font-family: var(--sans-serif);
}

.flash-container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
}

.flash {
  padding: 15px;
  border-radius: 5px;
  box-shadow: var(--shadow);
  &.notice {
    background: var(--notice);
  }
  &.alert {
    background: var(--alert);
  }
}

.logo {
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 10px;
  font-size: 2em;
  color: var(--accent);
  background: var(--menu);
  border-radius: 8px;
  font-family: var(--sans-serif);
  font-weight: 600;
}
