@import "variables";

#btn {
  display: flex;
  position: fixed;
  align-items: center;
  width: 20px;
  height:20px;
  cursor: pointer;
  transition: .1s;
  top: 10px;
  right: 20px;
  background: $menu;
  border-radius: 5px;
  padding: 8px;
  z-index: 3;
}

#btn:hover .line,
#btn:hover .line:before,
#btn:hover .line:after {
  border-bottom: 1px solid $accent;
}

#btn.active:hover .line:before,
#btn.active:hover .line:after {
  border-bottom: 1px solid $alert
}

.line{
  position: absolute;
  top: 50%;
  border-bottom: 1px solid $text;
  width: 20px;
  transition: .1s;
}

.line:before,
.line:after {
  position: absolute;
  content :'';
  width: 20px;
  border-bottom: 1px solid $text;
  transition: .3s;
}

.line:before {
  top: -6px;
}

.line:after {
  top: 6px;
}

#btn.active .line:before {
  top: 0;
  transform: rotate(45deg);
}

#btn.active .line:after {
  top: 0;
  transform: rotate(135deg);
}

#btn.active .line {
  border-bottom: 1px solid transparent;
}
