@import "variables";

#menu {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 100vh;
  margin-left: 150vw;
  z-index: 2;
  background: $menu;
  &.open {
    margin-left: calc(100vw - 350px);
  }
}

#blocker {
  position: fixed;
  width: 100vw;
  height: 100vh;
  margin-left: 100vw;
  z-index: 1;
  &.open {
    margin-left: 0
  }
}

.menu-list {
  margin-top: 60px;
  & h1 {
    font-size: 1.2em;
    margin-bottom: 20px;
    a {
      display: inline;
      padding: 8px 8px 7px 0px;
      &:hover {
        color: $alt-accent;
      }
    }
  }
}
.menu-list a {
  display: block;
  margin: 10px;
  font-size: 1.2em;
  border-radius: 5px;
  background: $menu;
  & .fas,
  & .far,
  & .fa {
    padding: 13px;
    border-radius: 5px 0 0 5px;
    color: $text-accent;
  }
  &:hover {
    color: $text;
    background: $menu-item;
    box-shadow: $shadow;
  }
  &:hover .fas,
  &:hover .far {
    color: $accent;
  }
  &:hover .fa-times-circle {
    color: $alert;
  }
}
