#menu {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 100vh;
  margin-left: 150vw;
  z-index: 2;
  background: var(--menu);
  &.open {
    margin-left: calc(100vw - 350px);
  }
}

#blocker {
  position: fixed;
  width: 100vw;
  height: 100vh;
  margin-left: 100vw;
  z-index: 1;
  &.open {
    margin-left: 0
  }
}

.menu-list {
  margin-top: 60px;
  & h2 {
    padding-left: 20px;
  }
}
.menu-list a {
  display: block;
  margin: 10px;
  font-size: 1.2em;
  padding: 10px;
  padding-left: 20px;
  border-radius: 5px;
  background: var(--menu-item);
  & .fas,
  & .far,
  & .fa {
    background: var(--menu);
    padding: 10px;
    border-radius: 5px;
  }
  &:hover {
    color: var(--text);
    background: var(--hover);
    box-shadow: var(--shadow);
  }
  &:active {
    animation: click;
  }
  &:hover .fas,
  &:hover .far {
    color: var(--accent);
  }
  &:hover .fa-times-circle {
    color: var(--alert);
  }
}
