#menu {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 100vh;
  margin-left: 150vw;
  z-index: 2;
  background: var(--menu);
  &.open {
    margin-left: calc(100vw - 350px);
  }
}

#blocker {
  position: fixed;
  width: 100vw;
  height: 100vh;
  margin-left: 100vw;
  z-index: 1;
  &.open {
    margin-left: 0
  }
}

.menu-list {
  margin-top: 60px;
}
.menu-list a {
  display: block;
  margin: 2px 0;
  font-size: 1.2em;
  padding: 10px;
  padding-left: 20px;
  background: var(--hover);
  &:hover {
    background: var(--accent);
    color: var(--text);
  }
}
