/* search results */

.movie-list {
  margin: 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 820px
}

.result-cards {
  width: 150px;
  height: 220px;
  margin: 4px;
  font-size: .7em;
  line-height: 1.5;
  border-radius: 5px;
}

label.result-cards{
  border: 2px solid transparent;
}

.result-cards img {
  width: 100%;
  height: 100%;
}

.result-cards:hover {
  transform: scale(1.05);
}

input[type="radio"]:checked+label {
  border: 2px solid var(--accent)
}

/* show page */

.col-left,
.col-right {
  width: 350px;
  padding: 20px;
  margin: 10px;
}

.col-left {
  align-items: flex-end;
}

.col-left img {
  width: 300px;
  height: 440px
}
.col-left,
.col-left h1,
.col-left h2 {
  text-align: right;
}

.review-container {
  margin: 15px 0; 
}

.review {
  background: var(--menu);
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  max-height: 90px;
  overflow:hidden;
}
