@import "variables";

.tag {
  background: $menu;
  padding: 8px;
  margin: 3px;
  line-height: 3.5;
  border-radius: 5px;
  white-space: nowrap;
  & .fas {
    color: $menu-item;
    transition: .3s ease;
  }
  &:hover {
    color: $text;
  }
  &:hover .fas {
    color: $alt-accent;
  }
}


.review {
  margin: 15px 0;
  padding: 10px;
  padding-left: 20px;
  font-family: $sans-serif;
  font-size: 1.3em;
  border-left: 5px solid $menu-item;
  border-radius: 0 5px 5px 0;
  background: $menu;
  max-height: 150px;
  overflow: auto;
   h2 {
    font-size: 1.1em;
  }
  &:hover {
    border-left: 5px solid $accent;
  }
}

a.review:hover {
  color: $text;
}

.review-show {
  max-height: calc(100vh - 250px);
  overflow: auto;
}

.fa-calendar {
  padding: 10px;
  background: $menu;
  border-radius: 5px;
  color: $accent;
}
