.tag {
  background: var(--menu);
  padding: 5px;
  margin: 3px;
  border-radius: 5px;
  white-space: nowrap;
}

.review-show {
  max-height: 450px;
  overflow: auto;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--menu);
}
