.tag {
  background: var(--menu);
  padding: 8px;
  margin: 3px;
  line-height: 3.5;
  border-radius: 5px;
  white-space: nowrap;
  & .fas {
    color: var(--menu-item);
    transition: .3s ease;
  }
  &:hover {
    color: var(--text);
  }
  &:hover .fas {
    color: var(--alt-accent);
  }
}


.review {
  margin: 15px 0;
  padding: 10px;
  padding-left: 20px;
  font-family: var(--sans-serif);
  font-size: 1.3em;
  border-left: 5px solid var(--menu-item);
  border-radius: 0 5px 5px 0;
  background: var(--menu);
  max-height: 150px;
  overflow: auto;
  box-shadow: var(--shadow);
   h2 {
    font-size: 1.1em;
  }
  &:hover {
    border-left: 5px solid var(--accent);
  }
}

a.review:hover {
  color: var(--text);
}

.review-show {
  max-height: calc(100vh - 250px);
  overflow: auto;
}

.fa-calendar {
  padding: 10px;
  background: var(--menu);
  border-radius: 5px;
  color: var(--accent);
}
