<div class="flash-container">
  <% if flash[:notice] %>
  <p class="flash notice animated slideInDown"><%= flash[:notice] %></p>
<% elsif flash[:alert] %>
  <p class="flash alert animated slideInDown"><%= flash[:alert] %></p>
<% end %>
</div>
