<% if !@movie_list.empty? %>
  <%= form_with model: @movie, class: "movie-list", id: "movie-list" do |f| %>
  <h3>search results.</h3>
  <div class="row">
    <%= f.collection_radio_buttons(:imdbid, @movie_list, :imdbid, :render_poster) do |b| %>
      <%= b.radio_button + b.label(class: "result-cards") %>
    <% end %>
  </div>
  <% end %>
<% end %>
