<div class="search-container">
<% if @movie_list.present? %>
  <h3>search results.</h3>
  <%= form_with url: movies_path, class: "search-results", id: "movie-list", local: true do |f| %>
  <div class="row">
    <%= f.collection_radio_buttons(:imdbid, @movie_list, :imdbid, :render_poster, id: :titleyear) do |b| %>
      <%= b.radio_button(value: b.object.titleyear) + b.label(class: "result-cards", data_value: b.object.titleyear) %>
    <% end %>
  </div>
  <% end %>
  <div class="close-button button delete-button"><i class="fas fa-window-close"></i></div>
<% end %>
</div>
